.lt-ie7 .sprite {
  /*background: url(images/bg/sprite.gif) no-repeat;*/
}
.lt-ie7 .custom-radios__elem .sprite {
  left: -30px;
}
.no-cssgradients .top-line__question {
  /* border: 2px solid #aaa;*/
}
.lt-ie7 .top-line__nav .elems .elem a .sprite {
  left: -28px;
}
.lt-ie7 .top-line__question {
  /*background-image: none;*/
  /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg/question.png", sizingMethod="crop");*/
}
.lt-ie7 .top-line__lang .flag {
  left: -32px;
}
.lt-ie8 .main-header {
  height: 275px;
}
.lt-ie8 .main-header__tanks {
  top: 3px;
}
.lt-ie7 .main-header__logo {
  display: none;
}
.lt-ie7 .main-header__logo.logo_png {
  display: none;
}
.lt-ie7 .main-header__logo.logo_gif {
  display: block;
}
.lt-ie7 .main-header__tanks {
  /* background-image: none;
   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg/tanks.png", sizingMethod="crop");*/
}
.lt-ie7 .news-block__blocks {
  margin-left: -20px;
}
.lt-ie7 .tops-block__columns {
  margin-left: -20px;
}
.lt-ie9 #serversList {
  box-shadow:none;
}
.lt-ie7 .sprite_fight-button {
  background-position: 0 0;
}
.lt-ie7 .sprite_fight-button:hover,
.lt-ie7 .sprite_fight-button:active {
  background-position: 0 -88px;
}
.lt-ie7 .sprite_custom-select-arrow {
  background-position: -340px 0;
}
.lt-ie7 .sprite_top1 {
  background-position: -360px 0;
}
.lt-ie7 .sprite_top2 {
  background-position: -360px -30px;
}
.lt-ie7 .sprite_top3 {
  background-position: -358px -60px;
}
.lt-ie7 .sprite_top4 {
  background-position: -360px -90px;
}
.lt-ie7 .sprite_top5 {
  background-position: -357px -119px;
}
.lt-ie7 .sprite_top6 {
  background-position: -358px -150px;
}
.lt-ie7 .sprite_tw {
  background-position: -420px 0;
}
.lt-ie7 .sprite_vk {
  background-position: -420px -40px;
}
.lt-ie7 .sprite_fb {
  background-position: -420px -80px;
}
.lt-ie7 .sprite_yt {
  background-position: -420px -120px;
}
.lt-ie7 .sprite_in {
  background-position: -420px -160px;
}
.lt-ie7 .sprite_radio {
  background-position: -460px 0;
}
.lt-ie7 .sprite_prev-arrow {
  background-position: -480px 0;
}
.lt-ie7 .sprite_prev-arrow:hover,
.lt-ie7 .sprite_prev-arrow:active {
  background-position: -480px -70px;
}
.lt-ie7 .sprite_next-arrow {
  background-position: -540px 0;
}
.lt-ie7 .sprite_next-arrow:hover,
.lt-ie7 .sprite_next-arrow:active {
  background-position: -540px -70px;
}
.lt-ie7 .sprite_paginator {
  background-position: -460px 0;
}
.lt-ie7 .sprite_paginator.active {
  background-position: -460px -20px;
}

.lt-ie9 .interview__button,
.lt-ie9 .interview-info__scale,
.lt-ie9 .interview-info__scale .bg,
.lt-ie9 .interview-info__scale .bg .fill,
.lt-ie9 .main-header__social,
.lt-ie9 .main-header__server .server-info__scale,
.lt-ie9 .main-header__server .server-info__scale .bg,
.lt-ie9 .main-header__server .server-info__scale .bg .fill,
.lt-ie9 .main-header__server .server-info__scale .bg .fill_r,
.lt-ie9 .main-header__server .server-info__scale .bg .fill_d,
.lt-ie9 #serversList,
.lt-ie9 #serversList .sl-item:hover,
.lt-ie9 .visual__image,
/*.lt-ie9 .news-block__text,*/
.lt-ie9 .video-block__container,
.lt-ie9 .video-block__youtube-container,
.lt-ie9 .side__search,
.lt-ie9 .side_current .side_item,

.lt-ie9 .music_item .mejs-container {


}
.lt-ie9 .visual__wrapper,
.lt-ie9 .visual__image {
  background: transparent;
  border-radius: 3px;
}
.lt-ie9 .tops-block__column-wide,
.lt-ie9 .tops-block__column,
.lt-ie9 .content__inner,
.lt-ie9 .content__right,
.lt-ie9 .main-footer__container,
.lt-ie9 .graphic__container,
.lt-ie9 .news-block__block,
.lt-ie9 .video-block__container,
.lt-ie9 #serversList,
.lt-ie9 .custom-select__options,
.lt-ie9 .visual__container {
  background-color: #111;
  box-shadow: none;
  border: 2px solid #979797;
  border-radius: 5px;
  /*behavior: url(http://tankionline.com/border-radius.htc);*/
}
.lt-ie9 .custom-select {
  border: 2px solid #979797;
  border-radius: 5px;
  /* behavior: url(http://tankionline.com/border-radius.htc);*/
}
.no-rgba .custom-select,
.no-rgba .interview__button,
.no-cssgradients .custom-select {
  background: url(images/bg/cs.png) repeat-x 0 0;
  filter: none;
  border: 2px solid rgba(170, 170, 170, 0.75);
}
.no-rgba .custom-select__option,
.no-cssgradients .custom-select__option {
  background: url(images/bg/bl.png) repeat 0 0;
  filter: none;
  top: -5px;
}
.no-rgba .custom-select__option:hover,
.no-cssgradients .custom-select__option:hover {
  background: url(images/bg/gr.png) repeat 0 0;
  filter: none;
}
.li-ie9 .top-line__langs {
  top: 7px;
  right: 53px;
}
.lt-ie8 .main-footer__nav .elems {
  margin-left: 0;
}
.lt-ie8 .main-footer__nav .elems .elem:first-child {
  margin-left: 0;
}