html,
button,
input,
select,
textarea {
  font-family:  "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif !important;
}
.sprite {
  background: url(images/bg/sprite_zh.png?v=11) no-repeat;
}
.main-header__social {
  width: 155px !important;
}
.main-header__social-weibo,
.main-header__social-download {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 5px;
}
.main-header__social-wrapper{
  margin-bottom: 5px;
  height: 32px;
}
.main-header__social-wrapper {
  opacity: 0.95;
}
.main-header__social-wrapper:hover,
.main-header__social-wrapper:active {
  opacity: 1;
}
.main-header__social-text {
  float: left;
  display: block;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin-top: 7px;
  margin-left: 1px;
}
.main-header__support {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #AAA;
  border-radius: 5px 0px 0px 5px;
  top: 245px;
  position: absolute;
  right: 0;
  padding: 5px 10px 0 0px;
  border-right: 0 none;
  width: 155px;
  cursor: pointer;
}
.main-header__social-weibo {
  background: url(images/bg/zh_t.png) no-repeat;
}
.main-header__social-download {
  background: url(images/bg/zh_d.png) no-repeat;
}
.content__inner p {
  line-height: 1.5em !important;
}
.main-header__logo {
  width: auto !important;
}
.main-footer__container {
  line-height: 1.5em;
}
.main-footer__info  {
  padding-bottom: 20px !important;
}
.main-footer__security, .main-footer__partners {
  margin-top: 10px;
  opacity: 0.8;
}
.main-footer__left {
  float: left;
  width: 50%;
}
.main-footer__right {
  float: right;
  width: 50%;
}
.page-wrapper {
  margin-bottom: -224px !important;
}
.page-buffer {
  height: 224px !important;
}
.side__search.alone {
  margin-bottom: 0px;
}
.jiathis_style {
  right: 0 !important;
  left: auto !important;
  /* top: 248px !important;*/
}
.zh_s .jiathis_style {
  padding-bottom: 5px;
  height: 22px;
}
@media only screen and (max-width: 999px) {
  .main-footer__security a img {
    height: 50px;
  }
  .page-wrapper {
    margin-bottom: -246px !important;
  }
  .page-buffer {
    height: 246px !important;
  }
}
@media only screen and (max-width: 759px) {
  .main-footer__left, .main-footer__right {
    float: none;
    width: 100%;
  }
  .page-wrapper {
    margin-bottom: -364px !important;
  }
  .page-buffer {
    height: 364px !important;
  }
}
@media only screen and (max-width: 479px) {
  .main-footer__security a img {
    height: 35px;
  }
  .page-wrapper {
    margin-bottom: -457px !important;
  }
  .page-buffer {
    height: 457px !important;
  }
  .main-header__fight-button, .sprite_fight-button{
    background: url(images/bg/buttons_mini_zh.png?v=1) no-repeat 0 0;
  }
}

/* polls with graph */
.tops-block__column-graph {
  float: left;
  width: 670px;
  margin-left: 10px;
}
.tops-block__column-graph .graphic__container {
  width: auto !important;
}
@media only screen and (max-width: 1169px) {
  .tops-block__column-graph {
    width: 650px;
  }
}
@media only screen and (max-width: 999px) {
  .tops-block__column-graph {
    width: 490px;
  }
}
@media only screen and (max-width: 759px) {
  .tops-block__column-graph {
    width: 460px;
  }
}
@media only screen and (max-width: 479px) {
  .tops-block__column-graph {
    width: 300px;
  }
}
