#colorbox, #cboxOverlay, #cboxWrapper{
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  overflow:hidden;
}
#cboxOverlay{
  position:fixed;
  width:100%;
  height:100%;
}
#cboxContent{
  position:relative;
}
#cboxLoadedContent{
  background-color:#000;
  overflow:auto;
}
#cboxLoadedContent iframe{
  display:block;
  width:100%;
  height:100%;
  border:0;
}
#cboxTitle{
  margin:0;
  font-size: 14px;
}
#cboxLoadingOverlay, #cboxLoadingGraphic{
  background-color:#000;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{
  cursor:pointer;
}
#cboxOverlay{
  background-color:#000;
}
#colorbox{
  padding-bottom: 38px !important;
  padding-right: 38px !important;
}
#cboxWrapper {
  margin-top: 20px;
}
#cboxContent{
}
#cboxTopLeft {
  height: 9px;
  width: 9px;
  background:url(../images/colorbox/inner/ctl.gif) top left no-repeat;
}
#cboxTopCenter {
  height: 9px;
  background:url(../images/colorbox/inner/bt.gif) top left repeat-x;
}
#cboxTopRight {
  height: 9px;
  width: 9px;
  background:url(../images/colorbox/inner/ctr.gif) top left no-repeat;
}
#cboxBottomLeft {
  height: 9px;
  width: 9px;
  background:url(../images/colorbox/inner/cbl.gif) top left no-repeat;
}
#cboxBottomCenter {
  height: 9px;
  background:url(../images/colorbox/inner/bb.gif) top left repeat-x;
}
#cboxBottomRight {
  height: 9px;
  width: 9px;
  background:url(../images/colorbox/inner/cbr.gif) top left no-repeat;
}
#cboxMiddleLeft {
  width: 9px;
  background:url(../images/colorbox/inner/bl.gif) top left repeat-y;
}
#cboxMiddleRight {
  width: 9px;
  background:url(../images/colorbox/inner/br.gif) top left repeat-y;
}
#cboxLoadedContent{

}
#cboxNext, #cboxPrevious {
  position: absolute;
  text-indent: -9999px;
  top: 0px;
  z-index: 19999;
}
#cboxPrevious{
  left: 0px;
  background:url(../images/colorbox/inner/bgl.png) top left repeat-y;
}
#cboxPrevious.hover{
  /*background-position:bottom left;*/
}
#cboxNext{
  right: 0px;
  background:url(../images/colorbox/inner/bgr.png) top right repeat-y;
}
.binner {
  width: 9px;
  height: 19px;
  margin-top: -10px;
  position: relative;
  top: 50%;
}
#cboxNext .binner {
  background:url(../images/colorbox/inner/arr.png) top right no-repeat;
  left: 100%;
  margin-left: -15px;
}

#cboxPrevious .binner{
  background:url(../images/colorbox/inner/arr.png) top left no-repeat;
  margin-left: 5px;
}

#cboxNext.hover .binner {
  background:url(../images/colorbox/inner/arr.png) bottom right no-repeat;
}

#cboxPrevious.hover .binner{
  background:url(../images/colorbox/inner/arr.png) bottom left no-repeat;
}

#cboxLoadingOverlay{
  background-color:#000;

}
#cboxLoadingGraphic{
  background:url(../images/colorbox/loading.gif) center center no-repeat #000;

}
#cboxClose{
  position:absolute;
  top: 0px;
  right: 0px;
  display:block;
  background:url(../images/colorbox/close.png) top center no-repeat;
  width:17px;
  height:19px;
  text-indent:-9999px;
  z-index:19999;
}
#cboxClose:hover{
  background-position:bottom center;
}