body{width:expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");}
.footer .copy ul li {
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0px" : "auto");
}
#cboxNext {
    right: 40px !important;
}
#cboxNext, #cboxPrevious {
    margin-top: -16px !important;
}

.pollbar {
  font-size: 0px;
}