.fff{display:inline-block;width:16px;height:11px;line-height:11px;background-image:url("../images/bg/famfamfam-flags.png");background-position:0 0;background-repeat:no-repeat}
.f-zw{background-position:0px 0px;}
.f-zm{background-position:-16px 0px;}
.f-za{background-position:0px -11px;}
.f-yt{background-position:-16px -11px;}
.f-ye{background-position:-32px 0px;}
.f-ws{background-position:-32px -11px;}
.f-wf{background-position:0px -22px;}
.f-wales{background-position:-16px -22px;}
.f-vu{background-position:-32px -22px;}
.f-vn{background-position:0px -33px;}
.f-vi{background-position:-16px -33px;}
.f-vg{background-position:-32px -33px;}
.f-ve{background-position:-48px 0px;}
.f-vc{background-position:-48px -11px;}
.f-va{background-position:-48px -22px;}
.f-uz{background-position:-48px -33px;}
.f-uy{background-position:0px -44px;}
.f-us{background-position:-16px -44px;}
.f-um{background-position:-16px -44px;}
.f-ug{background-position:-32px -44px;}
.f-ua{background-position:-48px -44px;}
.f-tz{background-position:-64px 0px;}
.f-tw{background-position:-64px -11px;}
.f-tv{background-position:-64px -22px;}
.f-tt{background-position:-64px -33px;}
.f-tr{background-position:-64px -44px;}
.f-to{background-position:0px -55px;}
.f-tn{background-position:-16px -55px;}
.f-tm{background-position:-32px -55px;}
.f-tl{background-position:-48px -55px;}
.f-tk{background-position:-64px -55px;}
.f-tj{background-position:0px -66px;}
.f-th{background-position:-16px -66px;}
.f-tg{background-position:-32px -66px;}
.f-tf{background-position:-48px -66px;}
.f-td{background-position:-64px -66px;}
.f-tc{background-position:-80px 0px;}
.f-sz{background-position:-80px -11px;}
.f-sy{background-position:-80px -22px;}
.f-sx{background-position:-80px -33px;}
.f-sv{background-position:-80px -44px;}
.f-st{background-position:-80px -55px;}
.f-ss{background-position:-80px -66px;}
.f-sr{background-position:0px -77px;}
.f-so{background-position:-16px -77px;}
.f-sn{background-position:-32px -77px;}
.f-sm{background-position:-48px -77px;}
.f-sl{background-position:-64px -77px;}
.f-sk{background-position:-80px -77px;}
.f-si{background-position:-96px 0px;}
.f-sh{background-position:-96px -11px;}
.f-sg{background-position:-96px -22px;}
.f-se{background-position:-96px -33px;}
.f-sd{background-position:-96px -44px;}
.f-scotland{background-position:-96px -55px;}
.f-sc{background-position:-96px -66px;}
.f-sb{background-position:-96px -77px;}
.f-sa{background-position:0px -88px;}
.f-rw{background-position:-16px -88px;}
.f-ru{background-position:-32px -88px;}
.f-rs{background-position:-48px -88px;}
.f-ro{background-position:-64px -88px;}
.f-qa{background-position:-80px -88px;}
.f-py{background-position:-96px -88px;}
.f-pw{background-position:0px -99px;}
.f-pt{background-position:-16px -99px;}
.f-ps{background-position:-32px -99px;}
.f-pr{background-position:-48px -99px;}
.f-pn{background-position:-64px -99px;}
.f-pm{background-position:-80px -99px;}
.f-pl{background-position:-96px -99px;}
.f-pk{background-position:-112px 0px;}
.f-ph{background-position:-112px -11px;}
.f-pg{background-position:-112px -22px;}
.f-pf{background-position:-112px -33px;}
.f-pe{background-position:-112px -44px;}
.f-pa{background-position:-112px -55px;}
.f-om{background-position:-112px -66px;}
.f-nz{background-position:-112px -77px;}
.f-nu{background-position:-112px -88px;}
.f-nr{background-position:-112px -99px;}
.f-no{background-position:0px -110px;}
.f-bv{background-position:0px -110px;}
.f-sj{background-position:0px -110px;}
.f-nl{background-position:-16px -110px;}
.f-ni{background-position:-32px -110px;}
.f-ng{background-position:-48px -110px;}
.f-nf{background-position:-64px -110px;}
.f-ne{background-position:-80px -110px;}
.f-nc{background-position:-96px -110px;}
.f-na{background-position:-112px -110px;}
.f-mz{background-position:-128px 0px;}
.f-my{background-position:-128px -11px;}
.f-mx{background-position:-128px -22px;}
.f-mw{background-position:-128px -33px;}
.f-mv{background-position:-128px -44px;}
.f-mu{background-position:-128px -55px;}
.f-mt{background-position:-128px -66px;}
.f-ms{background-position:-128px -77px;}
.f-mr{background-position:-128px -88px;}
.f-mq{background-position:-128px -99px;}
.f-mp{background-position:-128px -110px;}
.f-mo{background-position:0px -121px;}
.f-mn{background-position:-16px -121px;}
.f-mm{background-position:-32px -121px;}
.f-ml{background-position:-48px -121px;}
.f-mk{background-position:-64px -121px;}
.f-mh{background-position:-80px -121px;}
.f-mg{background-position:-96px -121px;}
.f-me{background-position:0px -132px;}
.f-md{background-position:-112px -121px;}
.f-mc{background-position:-128px -121px;}
.f-ma{background-position:-16px -132px;}
.f-ly{background-position:-32px -132px;}
.f-lv{background-position:-48px -132px;}
.f-lu{background-position:-64px -132px;}
.f-lt{background-position:-80px -132px;}
.f-ls{background-position:-96px -132px;}
.f-lr{background-position:-112px -132px;}
.f-lk{background-position:-128px -132px;}
.f-li{background-position:-144px 0px;}
.f-lc{background-position:-144px -11px;}
.f-lb{background-position:-144px -22px;}
.f-la{background-position:-144px -33px;}
.f-kz{background-position:-144px -44px;}
.f-ky{background-position:-144px -55px;}
.f-kw{background-position:-144px -66px;}
.f-kr{background-position:-144px -77px;}
.f-kp{background-position:-144px -88px;}
.f-kn{background-position:-144px -99px;}
.f-km{background-position:-144px -110px;}
.f-ki{background-position:-144px -121px;}
.f-kh{background-position:-144px -132px;}
.f-kg{background-position:0px -144px;}
.f-ke{background-position:-16px -144px;}
.f-jp{background-position:-32px -144px;}
.f-jo{background-position:-48px -144px;}
.f-jm{background-position:-64px -144px;}
.f-je{background-position:-80px -144px;}
.f-it{background-position:-96px -144px;}
.f-is{background-position:-112px -144px;}
.f-ir{background-position:-128px -144px;}
.f-iq{background-position:-144px -144px;}
.f-io{background-position:-160px 0px;}
.f-in{background-position:-160px -11px;}
.f-im{background-position:-160px -22px;height:9px}
.f-il{background-position:-160px -31px;}
.f-ie{background-position:-160px -42px;}
.f-id{background-position:-160px -53px;}
.f-hu{background-position:-160px -64px;}
.f-ht{background-position:-160px -75px;}
.f-hr{background-position:-160px -86px;}
.f-hn{background-position:-160px -97px;}
.f-hk{background-position:-160px -108px;}
.f-gy{background-position:-160px -119px;}
.f-gw{background-position:-160px -130px;}
.f-gu{background-position:-160px -141px;}
.f-gt{background-position:0px -155px;}
.f-gs{background-position:-16px -155px;}
.f-gr{background-position:-32px -155px;}
.f-gq{background-position:-48px -155px;}
.f-gp{background-position:-64px -155px;}
.f-gn{background-position:-80px -155px;}
.f-gm{background-position:-96px -155px;}
.f-gl{background-position:-112px -155px;}
.f-gi{background-position:-128px -155px;}
.f-gh{background-position:-144px -155px;}
.f-gg{background-position:-160px -155px;}
.f-ge{background-position:-176px 0px;}
.f-gd{background-position:-176px -11px;}
.f-gb{background-position:-176px -22px;}
.f-ga{background-position:-176px -33px;}
.f-fr{background-position:-176px -44px;}
.f-gf{background-position:-176px -44px;}
.f-re{background-position:-176px -44px;}
.f-mf{background-position:-176px -44px;}
.f-bl{background-position:-176px -44px;}
.f-fo{background-position:-176px -55px;}
.f-fm{background-position:-176px -66px;}
.f-fk{background-position:-176px -77px;}
.f-fj{background-position:-176px -88px;}
.f-fi{background-position:-176px -99px;}
.f-fam{background-position:-176px -110px;}
.f-eu{background-position:-176px -121px;}
.f-et{background-position:-176px -132px;}
.f-es{background-position:-176px -143px;}
.f-er{background-position:-176px -154px;}
.f-england{background-position:0px -166px;}
.f-eh{background-position:-16px -166px;}
.f-eg{background-position:-32px -166px;}
.f-ee{background-position:-48px -166px;}
.f-ec{background-position:-64px -166px;}
.f-dz{background-position:-80px -166px;}
.f-do{background-position:-96px -166px;}
.f-dm{background-position:-112px -166px;}
.f-dk{background-position:-128px -166px;}
.f-dj{background-position:-144px -166px;}
.f-de{background-position:-160px -166px;}
.f-cz{background-position:-176px -166px;}
.f-cy{background-position:0px -177px;}
.f-cx{background-position:-16px -177px;}
.f-cw{background-position:-32px -177px;}
.f-cv{background-position:-48px -177px;}
.f-cu{background-position:-64px -177px;}
.f-cs{background-position:-80px -177px;}
.f-cr{background-position:-96px -177px;}
.f-co{background-position:-112px -177px;}
.f-cn{background-position:-128px -177px;}
.f-cm{background-position:-144px -177px;}
.f-cl{background-position:-160px -177px;}
.f-ck{background-position:-176px -177px;}
.f-ci{background-position:-192px 0px;}
.f-cg{background-position:-192px -11px;}
.f-cf{background-position:-192px -22px;}
.f-cd{background-position:-192px -33px;}
.f-cc{background-position:-192px -44px;}
.f-catalonia{background-position:-192px -55px;}
.f-ca{background-position:-192px -66px;}
.f-bz{background-position:-192px -77px;}
.f-by{background-position:-192px -88px;}
.f-bw{background-position:-192px -99px;}
.f-bt{background-position:-192px -110px;}
.f-bs{background-position:-192px -121px;}
.f-br{background-position:-192px -132px;}
.f-bq{background-position:-192px -143px;}
.f-bo{background-position:-192px -154px;}
.f-bn{background-position:-192px -165px;}
.f-bm{background-position:-192px -176px;}
.f-bj{background-position:0px -188px;}
.f-bi{background-position:-16px -188px;}
.f-bh{background-position:-32px -188px;}
.f-bg{background-position:-48px -188px;}
.f-bf{background-position:-64px -188px;}
.f-be{background-position:-80px -188px;}
.f-bd{background-position:-96px -188px;}
.f-bb{background-position:-112px -188px;}
.f-ba{background-position:-128px -188px;}
.f-az{background-position:-144px -188px;}
.f-ax{background-position:-160px -188px;}
.f-aw{background-position:-176px -188px;}
.f-au{background-position:-192px -188px;}
.f-hm{background-position:-192px -188px;}
.f-at{background-position:-208px 0px;}
.f-as{background-position:-208px -11px;}
.f-ar{background-position:-208px -22px;}
.f-ao{background-position:-208px -33px;}
.f-an{background-position:-208px -44px;}
.f-am{background-position:-208px -55px;}
.f-al{background-position:-208px -66px;}
.f-ai{background-position:-208px -77px;}
.f-ag{background-position:-208px -88px;}
.f-af{background-position:-208px -99px;}
.f-ae{background-position:-208px -110px;}
.f-ad{background-position:-208px -121px;}
.f-np{background-position:-208px -132px;width:9px;}
.f-ch{background-position:-208px -143px;width:11px;}